@font-face {
    font-family: 'Footer-Font';
    src: url('../font/NotoSansKR-Regular.ttf') format('truetype');
}

.footer {
    background-color: #eaeaea;
    color: #636161;
    font-size: 1rem;
    padding-top: 20px;
    margin-top: 150px;
}

.footer__container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer__social-link {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.footer__copyright{
    margin-top: 50px;
    font-family: Footer-Font;
}