.Mainproduct{
    text-align: center;
    padding: 100px;
}


.item-image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-info {
    margin-top: 10px;
}

.symbol-won{    
    height: 10px;
    width: 15px;
    margin-right: 1px;
}

.scroll-top-button img{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@font-face {
    font-family: 'Main-Proudct-Head-Font';
    src: url('../font/EBGaramond-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Main-Proudct-Categoty-Font';
    src: url('../font/EBGaramond-Bold.ttf') format('truetype');
}

.Mainproduct{
    font-family: Main-Proudct-Head-Font !important;
}

.product-itemName{
    font-family: Main-Proudct-Categoty-Font !important;    
}
